![pandas](figures/pandas_logo.png)

*pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.*

## Data Strucures

Python provides some high-performance data structures

- arrays of arbitrary objects (`list`)
- key-value pairs, (`dict`)
- records (`tuple`)
- unique items (`set`)

The scientific python community does use these, but relies on 3rd-party packages to provide

1. N-Dimensional array (`numpy.ndarray`)
2. Labeled, heteroguenous, tabular data (`pandas.DataFrame`)

## Comparing pandas and dyplr

Pandas is focused on the data wrangling side of analysis. It leaves statistics to other packages like statsmodels, scikit-learn, PyMC3, and others.

The rest of this notebook runs through the [Introduction to dplyr](https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html), showing the R and equivalent pandas code.
To preview the differences you'll see:

- Pandas uses methods, where dplyr uses functions
- Pandas uses `lambda`s or string literals in function arguments, where dplyr / R use [Non-standard evaluation](http://adv-r.had.co.nz/Computing-on-the-language.html)
- The biggest difference is pandas use of row / column labels for alignment
- Both are great

In [32]:
%load_ext rpy2.ipython

In [33]:
%%R
library(dplyr)
library(nycflights13)
library(feather)

/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning:
Attaching package: ‘dplyr’


  warnings.warn(x, RRuntimeWarning)
/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: The following objects are masked from ‘package:stats’:

    filter, lag


  warnings.warn(x, RRuntimeWarning)
/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


  warnings.warn(x, RRuntimeWarning)

In [34]:
%R head(flights)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,517,515,2.0,830,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,1.357016e+09
2,2013,1,1,533,529,4.0,850,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,1.357016e+09
3,2013,1,1,542,540,2.0,923,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,1.357016e+09
4,2013,1,1,544,545,-1.0,1004,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,1.357016e+09
5,2013,1,1,554,600,-6.0,812,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,1.357020e+09
6,2013,1,1,554,558,-4.0,740,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719.0,5.0,58.0,1.357016e+09

In [35]:
%%R
write_feather(flights, "flights.feather")

In [36]:
%matplotlib inline

In [37]:
import pandas as pd
import feather

pd.options.display.max_rows = 10

In [38]:
flights = feather.read_dataframe("flights.feather")
flights.head()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00+00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00+00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00+00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00+00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00+00:00

## Filter Rows

In [39]:
%R filter(flights, month == 1, day == 1)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,517,515,2.0,830,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,1.357016e+09
2,2013,1,1,533,529,4.0,850,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,1.357016e+09
3,2013,1,1,542,540,2.0,923,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,1.357016e+09
4,2013,1,1,544,545,-1.0,1004,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,1.357016e+09
5,2013,1,1,554,600,-6.0,812,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,1.357020e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,2013,1,1,2356,2359,-3.0,425,437,-12.0,B6,727,N588JB,JFK,BQN,186.0,1576.0,23.0,59.0,1.357081e+09
839,2013,1,1,-2147483648,1630,NaN,-2147483648,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416.0,16.0,30.0,1.357056e+09
840,2013,1,1,-2147483648,1935,NaN,-2147483648,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389.0,19.0,35.0,1.357067e+09
841,2013,1,1,-2147483648,1500,NaN,-2147483648,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096.0,15.0,0.0,1.357052e+09
842,2013,1,1,-2147483648,600,NaN,-2147483648,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069.0,6.0,0.0,1.357020e+09

In [40]:
flights[(flights.month == 1) & (flights.day == 1)]

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00+00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00+00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00+00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00+00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,2013,1,1,2356.0,2359,-3.0,425.0,437,-12.0,B6,727,N588JB,JFK,BQN,186.0,1576.0,23.0,59.0,2013-01-01 23:00:00+00:00
838,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416.0,16.0,30.0,2013-01-01 16:00:00+00:00
839,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389.0,19.0,35.0,2013-01-01 19:00:00+00:00
840,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096.0,15.0,0.0,2013-01-01 15:00:00+00:00
841,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069.0,6.0,0.0,2013-01-01 06:00:00+00:00

Alternatively, you can use `.query`

In [41]:
flights.query("month == 1 & day == 1")

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00+00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00+00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00+00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00+00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,2013,1,1,2356.0,2359,-3.0,425.0,437,-12.0,B6,727,N588JB,JFK,BQN,186.0,1576.0,23.0,59.0,2013-01-01 23:00:00+00:00
838,2013,1,1,NaN,1630,NaN,NaN,1815,NaN,EV,4308,N18120,EWR,RDU,NaN,416.0,16.0,30.0,2013-01-01 16:00:00+00:00
839,2013,1,1,NaN,1935,NaN,NaN,2240,NaN,AA,791,N3EHAA,LGA,DFW,NaN,1389.0,19.0,35.0,2013-01-01 19:00:00+00:00
840,2013,1,1,NaN,1500,NaN,NaN,1825,NaN,AA,1925,N3EVAA,LGA,MIA,NaN,1096.0,15.0,0.0,2013-01-01 15:00:00+00:00
841,2013,1,1,NaN,600,NaN,NaN,901,NaN,B6,125,N618JB,JFK,FLL,NaN,1069.0,6.0,0.0,2013-01-01 06:00:00+00:00

## Arrange rows

In [42]:
%R arrange(flights, year, month, day)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,1,1,517,515,2.0,830,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,1.357016e+09
2,2013,1,1,533,529,4.0,850,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,1.357016e+09
3,2013,1,1,542,540,2.0,923,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,1.357016e+09
4,2013,1,1,544,545,-1.0,1004,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,1.357016e+09
5,2013,1,1,554,600,-6.0,812,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,1.357020e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,2013,12,31,-2147483648,705,NaN,-2147483648,931,NaN,UA,1729,NA,EWR,DEN,NaN,1605.0,7.0,5.0,1.388473e+09
336773,2013,12,31,-2147483648,825,NaN,-2147483648,1029,NaN,US,1831,NA,JFK,CLT,NaN,541.0,8.0,25.0,1.388477e+09
336774,2013,12,31,-2147483648,1615,NaN,-2147483648,1800,NaN,MQ,3301,N844MQ,LGA,RDU,NaN,431.0,16.0,15.0,1.388506e+09
336775,2013,12,31,-2147483648,600,NaN,-2147483648,735,NaN,UA,219,NA,EWR,ORD,NaN,719.0,6.0,0.0,1.388470e+09
336776,2013,12,31,-2147483648,830,NaN,-2147483648,1154,NaN,UA,443,NA,JFK,LAX,NaN,2475.0,8.0,30.0,1.388477e+09

In [45]:
flights.sort_values(["year", "month", "day"])

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00+00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00+00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00+00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00+00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111291,2013,12,31,NaN,705,NaN,NaN,931,NaN,UA,1729,None,EWR,DEN,NaN,1605.0,7.0,5.0,2013-12-31 07:00:00+00:00
111292,2013,12,31,NaN,825,NaN,NaN,1029,NaN,US,1831,None,JFK,CLT,NaN,541.0,8.0,25.0,2013-12-31 08:00:00+00:00
111293,2013,12,31,NaN,1615,NaN,NaN,1800,NaN,MQ,3301,N844MQ,LGA,RDU,NaN,431.0,16.0,15.0,2013-12-31 16:00:00+00:00
111294,2013,12,31,NaN,600,NaN,NaN,735,NaN,UA,219,None,EWR,ORD,NaN,719.0,6.0,0.0,2013-12-31 06:00:00+00:00
111295,2013,12,31,NaN,830,NaN,NaN,1154,NaN,UA,443,None,JFK,LAX,NaN,2475.0,8.0,30.0,2013-12-31 08:00:00+00:00

## Select columns

In [46]:
%R select(flights, year, month, day)

        year  month  day
1       2013      1    1
2       2013      1    1
3       2013      1    1
4       2013      1    1
5       2013      1    1
...      ...    ...  ...
336772  2013      9   30
336773  2013      9   30
336774  2013      9   30
336775  2013      9   30
336776  2013      9   30

[336776 rows x 3 columns]

In [50]:
flights[['year', 'month', 'day']]

        year  month  day
0       2013      1    1
1       2013      1    1
2       2013      1    1
3       2013      1    1
4       2013      1    1
...      ...    ...  ...
336771  2013      9   30
336772  2013      9   30
336773  2013      9   30
336774  2013      9   30
336775  2013      9   30

[336776 rows x 3 columns]

## Extract distinct (unique) rows

In [51]:
%R distinct(flights, tailnum)

     tailnum
1     N14228
2     N24211
3     N619AA
4     N804JB
5     N668DN
...      ...
4040  N766SK
4041  N772SK
4042  N776SK
4043  N785SK
4044  N557AS

[4044 rows x 1 columns]

In [52]:
flights['tailnum'].drop_duplicates()

0         N14228
1         N24211
2         N619AA
3         N804JB
4         N668DN
           ...
327436    N766SK
329041    N772SK
330033    N776SK
331007    N785SK
334259    N557AS
Name: tailnum, Length: 4044, dtype: object

## Add new columns

In [53]:
%%R
mutate(flights,
  gain = arr_delay - dep_delay,
  speed = distance / air_time * 60)

# A tibble: 336,776 x 21
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 336,766 more rows, and 13 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>,
#   gain <dbl>, speed <dbl>

In [59]:
flights.assign(
    gain=flights.arr_delay - flights.dep_delay,
    speed=flights.distance / flights.air_time * 60
).tail()

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,gain,speed
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,...,None,JFK,DCA,NaN,213.0,14.0,55.0,2013-09-30 14:00:00+00:00,NaN,NaN
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,...,None,LGA,SYR,NaN,198.0,22.0,0.0,2013-09-30 22:00:00+00:00,NaN,NaN
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,...,N535MQ,LGA,BNA,NaN,764.0,12.0,10.0,2013-09-30 12:00:00+00:00,NaN,NaN
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,...,N511MQ,LGA,CLE,NaN,419.0,11.0,59.0,2013-09-30 11:00:00+00:00,NaN,NaN
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,...,N839MQ,LGA,RDU,NaN,431.0,8.0,40.0,2013-09-30 08:00:00+00:00,NaN,NaN

R's NSE really shines here. Since the arguments aren't evaluated until inside the `mutate`, you can create
a new column and use it in the same `mutate`.

In [60]:
%%R
mutate(flights,
  gain = arr_delay - dep_delay,
  gain_per_hour = gain / (air_time / 60)
)

# A tibble: 336,776 x 21
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 336,766 more rows, and 13 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>,
#   gain <dbl>, gain_per_hour <dbl>

This would have to be done in two separate `.assign` calls with pandas.

It also enables makes using the pipe operator more elegant than in Python.

In [61]:
%%R
filter(flights, day==1) %>% mutate(
  gain = arr_delay - dep_delay,
  speed = distance / air_time * 60
)

# A tibble: 11,036 x 21
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>
 1  2013     1     1      517            515         2      830            819
 2  2013     1     1      533            529         4      850            830
 3  2013     1     1      542            540         2      923            850
 4  2013     1     1      544            545        -1     1004           1022
 5  2013     1     1      554            600        -6      812            837
 6  2013     1     1      554            558        -4      740            728
 7  2013     1     1      555            600        -5      913            854
 8  2013     1     1      557            600        -3      709            723
 9  2013     1     1      557            600        -3      838            846
10  2013     1     1      558            600        -2      753            745
# ... with 11,026 more rows, and 13 more variables: arr_delay <dbl>,
#   carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>,
#   gain <dbl>, speed <dbl>

The typical pattern in pandas is to "delay" and argument's evaluation by wrapping it in a `lambda` (anonymous function). Notice the `lambda df:`, which defines a function that takes a single arugment, `df`.

In [23]:
flights[flights.day == 1].assign(
    gain = lambda df: df.arr_delay - df.dep_delay,
    speed = lambda df: df.distance / df.air_time * 60
)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,gain,speed
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,N14228,EWR,IAH,227.0,1400.0,5.0,15.0,2013-01-01 05:00:00+00:00,9.0,370.044053
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,N24211,LGA,IAH,227.0,1416.0,5.0,29.0,2013-01-01 05:00:00+00:00,16.0,374.273128
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,...,N619AA,JFK,MIA,160.0,1089.0,5.0,40.0,2013-01-01 05:00:00+00:00,31.0,408.375000
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,...,N804JB,JFK,BQN,183.0,1576.0,5.0,45.0,2013-01-01 05:00:00+00:00,-17.0,516.721311
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,...,N668DN,LGA,ATL,116.0,762.0,6.0,0.0,2013-01-01 06:00:00+00:00,-19.0,394.137931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309915,2013,9,1,2302.0,2305,-3.0,8.0,13,-5.0,B6,...,N629JB,JFK,BOS,42.0,187.0,23.0,5.0,2013-09-01 23:00:00+00:00,-2.0,267.142857
309916,2013,9,1,2329.0,2245,44.0,40.0,1,39.0,B6,...,N373JB,JFK,BTV,48.0,266.0,22.0,45.0,2013-09-01 22:00:00+00:00,-5.0,332.500000
309917,2013,9,1,2351.0,2359,-8.0,335.0,350,-15.0,B6,...,N588JB,JFK,PSE,204.0,1617.0,23.0,59.0,2013-09-01 23:00:00+00:00,-7.0,475.588235
309918,2013,9,1,2352.0,2359,-7.0,323.0,344,-21.0,B6,...,N768JB,JFK,SJU,196.0,1598.0,23.0,59.0,2013-09-01 23:00:00+00:00,-14.0,489.183673
309919,2013,9,1,NaN,1920,NaN,NaN,2052,NaN,9E,...,None,LGA,ROC,NaN,254.0,19.0,20.0,2013-09-01 19:00:00+00:00,NaN,NaN

## Summarise values

In [70]:
%%R
summarise(flights,
  delay = mean(dep_delay, na.rm = TRUE))

# A tibble: 1 x 1
     delay
     <dbl>
1 12.63907

In [71]:
flights.aggregate({"dep_delay": "mean"}).rename({"dep_delay": "delay"})

delay    12.63907
dtype: float64

## Randomly sample rows

In [72]:
%R sample_n(flights, 10)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
1,2013,10,29,2031,1955,36.0,2211,2147,24.0,EV,5038,N717EV,LGA,BHM,129.0,866.0,19.0,55.0,1.383073e+09
2,2013,2,10,1704,1700,4.0,1947,1943,4.0,DL,1499,N641DL,LGA,ATL,135.0,762.0,17.0,0.0,1.360516e+09
3,2013,5,31,2032,2020,12.0,2343,3,-20.0,B6,649,N646JB,JFK,SFO,337.0,2586.0,20.0,20.0,1.370030e+09
4,2013,4,23,902,905,-3.0,1046,1024,22.0,B6,20,N183JB,JFK,ROC,52.0,264.0,9.0,5.0,1.366708e+09
5,2013,9,8,1605,1605,0.0,1819,1826,-7.0,9E,3448,N602LR,JFK,CVG,86.0,589.0,16.0,5.0,1.378656e+09
6,2013,7,30,1911,1920,-9.0,2144,2210,-26.0,AA,1691,N4XKAA,EWR,DFW,181.0,1372.0,19.0,20.0,1.375211e+09
7,2013,1,28,2323,2250,33.0,35,2359,36.0,B6,608,N266JB,JFK,PWM,45.0,273.0,22.0,50.0,1.359410e+09
8,2013,5,31,719,725,-6.0,932,1015,-43.0,AS,21,N581AS,EWR,SEA,295.0,2402.0,7.0,25.0,1.369984e+09
9,2013,12,25,656,700,-4.0,1026,1039,-13.0,DL,430,N712TW,JFK,SFO,347.0,2586.0,7.0,0.0,1.387955e+09
10,2013,8,14,1834,1811,23.0,2154,2125,29.0,UA,1593,N27724,EWR,SNA,338.0,2434.0,18.0,11.0,1.376503e+09

In [73]:
flights.sample(n=10)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
195055,2013,5,2,1655.0,1654,1.0,1914.0,1928,-14.0,EV,4705,N14558,EWR,ATL,116.0,746.0,16.0,54.0,2013-05-02 16:00:00+00:00
110987,2013,12,31,1455.0,1500,-5.0,1742.0,1802,-20.0,DL,2181,N336NW,LGA,MCO,150.0,950.0,15.0,0.0,2013-12-31 15:00:00+00:00
178002,2013,4,14,1722.0,1725,-3.0,2040.0,2040,0.0,AA,145,N3ENAA,JFK,SAN,352.0,2446.0,17.0,25.0,2013-04-14 17:00:00+00:00
119932,2013,2,11,704.0,705,-1.0,952.0,1001,-9.0,B6,389,N526JB,LGA,MCO,137.0,950.0,7.0,5.0,2013-02-11 07:00:00+00:00
57915,2013,11,3,1233.0,1239,-6.0,1409.0,1420,-11.0,EV,4335,N12567,EWR,CMH,75.0,463.0,12.0,39.0,2013-11-03 12:00:00+00:00
61550,2013,11,7,805.0,810,-5.0,949.0,954,-5.0,EV,5463,N723EV,LGA,BNA,123.0,764.0,8.0,10.0,2013-11-07 08:00:00+00:00
335967,2013,9,30,819.0,825,-6.0,1001.0,1023,-22.0,US,409,N678AW,EWR,CLT,79.0,529.0,8.0,25.0,2013-09-30 08:00:00+00:00
160670,2013,3,27,824.0,830,-6.0,957.0,1025,-28.0,AA,1855,N522AA,LGA,STL,133.0,888.0,8.0,30.0,2013-03-27 08:00:00+00:00
334304,2013,9,28,758.0,800,-2.0,1217.0,1155,22.0,AA,936,N5EVAA,JFK,STT,224.0,1623.0,8.0,0.0,2013-09-28 08:00:00+00:00
147415,2013,3,13,611.0,615,-4.0,843.0,820,23.0,US,829,N752US,JFK,CLT,100.0,541.0,6.0,15.0,2013-03-13 06:00:00+00:00

In [74]:
%%R
by_tailnum <- group_by(flights, tailnum)
delay <- summarise(by_tailnum,
  count = n(),
  dist = mean(distance, na.rm = TRUE),
  delay = mean(arr_delay, na.rm = TRUE))
delay <- filter(delay, count > 20, dist < 2000)
delay

# A tibble: 2,962 x 4
   tailnum count     dist      delay
     <chr> <int>    <dbl>      <dbl>
 1  N0EGMQ   371 676.1887  9.9829545
 2  N10156   153 757.9477 12.7172414
 3  N102UW    48 535.8750  2.9375000
 4  N103US    46 535.1957 -6.9347826
 5  N104UW    47 535.2553  1.8043478
 6  N10575   289 519.7024 20.6914498
 7  N105UW    45 524.8444 -0.2666667
 8  N107US    41 528.7073 -5.7317073
 9  N108UW    60 534.5000 -1.2500000
10  N109UW    48 535.8750 -2.5208333
# ... with 2,952 more rows

In [62]:
by_tailnum = flights.groupby("tailnum")
delay = by_tailnum.aggregate({
    "year": "count",
    "distance": "mean",
    "arr_delay": "mean"
}).rename(columns={"year": "count", "distance": "dist",
                   "arr_delay": "delay"})
delay = delay[(delay['count'] > 20) & delay['dist'] < 2000]
delay

         count        dist      delay
tailnum
D942DN       4  854.500000  31.500000
N0EGMQ     371  676.188679   9.982955
N10156     153  757.947712  12.717241
N102UW      48  535.875000   2.937500
N103US      46  535.195652  -6.934783
...        ...         ...        ...
N997DL      63  867.761905   4.903226
N998AT      26  593.538462  29.960000
N998DL      77  857.818182  16.394737
N999DN      61  895.459016  14.311475
N9EAMQ     248  674.665323   9.235294

[4043 rows x 3 columns]

## Chaining

In [75]:
%%R
flights %>%
  group_by(year, month, day) %>%
  select(arr_delay, dep_delay) %>%
  summarise(
    arr = mean(arr_delay, na.rm = TRUE),
    dep = mean(dep_delay, na.rm = TRUE)
  ) %>%
  filter(arr > 30 | dep > 30)

/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Adding missing grouping variables: `year`, `month`, `day`

  warnings.warn(x, RRuntimeWarning)

Source: local data frame [49 x 5]
Groups: year, month [11]

# A tibble: 49 x 5
    year month   day      arr      dep
   <int> <int> <int>    <dbl>    <dbl>
 1  2013     1    16 34.24736 24.61287
 2  2013     1    31 32.60285 28.65836
 3  2013     2    11 36.29009 39.07360
 4  2013     2    27 31.25249 37.76327
 5  2013     3     8 85.86216 83.53692
 6  2013     3    18 41.29189 30.11796
 7  2013     4    10 38.41231 33.02368
 8  2013     4    12 36.04814 34.83843
 9  2013     4    18 36.02848 34.91536
10  2013     4    19 47.91170 46.12783
# ... with 39 more rows

In [78]:
(flights.groupby(['year', 'month', 'day'])
 [['arr_delay', 'dep_delay']]
 .mean()
 .rename(columns=lambda x: x.split('_')[0])
 .loc[lambda x: (x.arr > 30) | (x.dep > 30)]
)

                      arr        dep
year month day
2013 1     16   34.247362  24.612865
           31   32.602854  28.658363
     2     11   36.290094  39.073598
           27   31.252492  37.763274
     3     8    85.862155  83.536921
...                   ...        ...
     12    9    42.575556  34.800221
           10   44.508796  26.465494
           14   46.397504  28.361552
           17   55.871856  40.705602
           23   32.226042  32.254149

[49 rows x 2 columns]

## Automatic Alignment

Let's grab some series from FRED on state population and GDP

In [93]:
import json

from pandas_datareader.data import DataReader
import seaborn as sns
import matplotlib.pyplot as plt

plt.style.use('default')

I did this earlier, in case the internet was flaky

```python
with open("data/states.json") as f:
    states = json.load(f)

gdp_series = [f'{state}RGSP' for state in states]
pop_series = [f'{state}POP' for state in states]

gdp = DataReader(gdp_series, data_source="fred", start="1997-01-01")
gdp.to_csv("data/gdp.csv")

pop = DataReader(pop_series, data_source="fred", start="1900-01-01")
pop.to_csv("data/pop.csv")
```

In [94]:
gdp = pd.read_csv('data/gdp.csv', index_col='DATE', parse_dates=['DATE'])
pop = pd.read_csv('data/pop.csv', index_col='DATE', parse_dates=['DATE'])
gdp.head()

,AKRGSP,ALRGSP,ARRGSP,AZRGSP,CARGSP,CORGSP,CTRGSP,DCRGSP,DERGSP,FLRGSP,...,SDRGSP,TNRGSP,TXRGSP,UTRGSP,VARGSP,VTRGSP,WARGSP,WIRGSP,WVRGSP,WYRGSP
DATE,,,,,,,,,,,,,,,,,,,,,
1997-01-01,37880,137143,79164,163114,1343127,175029,183342,74610,43065,537176,...,22910,202976,816575,75322,294126,19545,259637,203610,55382,22801
1998-01-01,36889,141672,80136,177319,1421713,192216,189859,75778,47120,569488,...,24204,213093,866952,80085,308784,20122,275275,210292,56244,23387
1999-01-01,36617,146666,84533,192410,1525588,207243,195476,78951,51765,597492,...,25195,219514,900960,83918,323570,21216,295582,218921,58355,24284
2000-01-01,35909,148188,85271,202215,1638988,222942,209329,79302,54253,623599,...,26909,221830,930610,86850,336195,22326,295895,225228,58084,25118
2001-01-01,37102,148824,85283,206560,1627983,226211,212395,83072,56618,645193,...,27535,222160,954786,88719,346918,23031,289754,227508,58120,26542

In [95]:
pop.head()

,AKPOP,ALPOP,ARPOP,AZPOP,CAPOP,COPOP,CTPOP,DCPOP,DEPOP,FLPOP,...,SDPOP,TNPOP,TXPOP,UTPOP,VAPOP,VTPOP,WAPOP,WIPOP,WVPOP,WYPOP
DATE,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,1830.0,1314.0,124.0,1490.0,543.0,910.0,278.0,185.0,530.0,...,403.0,2023.0,3055.0,277.0,1858.0,344.0,523.0,2072.0,959.0,93.0
1901-01-01,NaN,1907.0,1341.0,131.0,1550.0,581.0,931.0,285.0,187.0,544.0,...,418.0,2041.0,3132.0,284.0,1887.0,347.0,583.0,2109.0,972.0,100.0
1902-01-01,NaN,1935.0,1360.0,138.0,1623.0,621.0,952.0,290.0,188.0,565.0,...,431.0,2060.0,3210.0,292.0,1894.0,349.0,651.0,2141.0,1000.0,105.0
1903-01-01,NaN,1957.0,1384.0,144.0,1702.0,652.0,972.0,295.0,190.0,587.0,...,437.0,2082.0,3291.0,299.0,1890.0,350.0,719.0,2171.0,1037.0,108.0
1904-01-01,NaN,1978.0,1419.0,151.0,1792.0,659.0,987.0,302.0,192.0,599.0,...,452.0,2086.0,3374.0,308.0,1889.0,353.0,782.0,2202.0,1064.0,111.0

In [96]:
gdp.index

DatetimeIndex(['1997-01-01', '1998-01-01', '1999-01-01', '2000-01-01',
               '2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01',
               '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01',
               '2009-01-01', '2010-01-01', '2011-01-01', '2012-01-01',
               '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='DATE', freq=None)

In [97]:
pop.index

DatetimeIndex(['1900-01-01', '1901-01-01', '1902-01-01', '1903-01-01',
               '1904-01-01', '1905-01-01', '1906-01-01', '1907-01-01',
               '1908-01-01', '1909-01-01',
               ...
               '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01',
               '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01',
               '2015-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='DATE', length=117, freq=None)

In [98]:
%matplotlib inline

In [105]:
gdp.rename(columns=lambda x: x[:2]) / pop.rename(columns=lambda x: x[:2])

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
DATE,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-01-01,73.478058,36.424721,34.964762,38.558643,52.974325,49.639422,63.501674,163.274975,62.173866,37.705031,...,46.964375,41.090553,50.266161,41.928621,51.546207,43.041357,53.439003,45.381587,35.509221,60.776920
2013-01-01,69.700724,36.660062,35.864848,38.303045,53.854782,50.474571,62.550282,159.497200,60.718936,38.023448,...,46.869415,41.487364,52.018007,42.266360,51.106225,42.913863,54.160832,45.845149,35.754312,60.770503
2014-01-01,67.410972,36.537721,36.249137,38.426826,55.373866,52.018563,62.236610,159.394845,63.270898,38.397654,...,46.775539,41.827669,52.992882,43.068682,50.802826,43.039376,55.001024,46.340141,36.160938,61.417787
2015-01-01,67.705559,36.855708,36.195877,38.414155,57.327703,52.622045,63.747339,159.226823,64.039336,39.093029,...,47.706135,42.797362,54.421460,44.204369,51.716463,43.495483,55.780003,46.858895,36.452508,60.908184
2016-01-01,63.971403,37.260913,36.367798,38.590284,58.618905,52.794806,64.510862,160.470954,63.664771,39.542773,...,48.075345,43.266818,53.795454,44.635960,51.735846,43.945347,56.830681,47.266448,36.314744,58.819712

In [83]:
gdp_pc = gdp.rename(columns=lambda x: x[:2]) / pop.rename(columns=lambda x: x[:2])
gdp_pc

,AK,AL,AR,AZ,CA,CO,CT,DC,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
DATE,,,,,,,,,,,,,,,,,,,,,
1900-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1902-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1903-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1904-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-01-01,73.478058,36.424721,34.964762,38.558643,52.974325,49.639422,63.501674,163.274975,62.173866,37.705031,...,46.964375,41.090553,50.266161,41.928621,51.546207,43.041357,53.439003,45.381587,35.509221,60.776920
2013-01-01,69.700724,36.660062,35.864848,38.303045,53.854782,50.474571,62.550282,159.497200,60.718936,38.023448,...,46.869415,41.487364,52.018007,42.266360,51.106225,42.913863,54.160832,45.845149,35.754312,60.770503
2014-01-01,67.410972,36.537721,36.249137,38.426826,55.373866,52.018563,62.236610,159.394845,63.270898,38.397654,...,46.775539,41.827669,52.992882,43.068682,50.802826,43.039376,55.001024,46.340141,36.160938,61.417787
2015-01-01,67.705559,36.855708,36.195877,38.414155,57.327703,52.622045,63.747339,159.226823,64.039336,39.093029,...,47.706135,42.797362,54.421460,44.204369,51.716463,43.495483,55.780003,46.858895,36.452508,60.908184
2016-01-01,63.971403,37.260913,36.367798,38.590284,58.618905,52.794806,64.510862,160.470954,63.664771,39.542773,...,48.075345,43.266818,53.795454,44.635960,51.735846,43.945347,56.830681,47.266448,36.314744,58.819712

In [107]:
%%R
library(readr)
library(dplyr)

In [108]:
%%R
gdp <- read_csv("data/gdp.csv")
pop <- read_csv("data/pop.csv")
gdp

/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Parsed with column specification:
cols(
  .default = col_integer(),
  DATE = col_date(format = "")
)

  warnings.warn(x, RRuntimeWarning)
/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: See spec(...) for full column specifications.

  warnings.warn(x, RRuntimeWarning)
/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Parsed with column specification:
cols(
  .default = col_double(),
  DATE = col_date(format = "")
)

  warnings.warn(x, RRuntimeWarning)

# A tibble: 20 x 52
         DATE AKRGSP ALRGSP ARRGSP AZRGSP  CARGSP CORGSP CTRGSP DCRGSP DERGSP
       <date>  <int>  <int>  <int>  <int>   <int>  <int>  <int>  <int>  <int>
 1 1997-01-01  37880 137143  79164 163114 1343127 175029 183342  74610  43065
 2 1998-01-01  36889 141672  80136 177319 1421713 192216 189859  75778  47120
 3 1999-01-01  36617 146666  84533 192410 1525588 207243 195476  78951  51765
 4 2000-01-01  35909 148188  85271 202215 1638988 222942 209329  79302  54253
 5 2001-01-01  37102 148824  85283 206560 1627983 226211 212395  83072  56618
 6 2002-01-01  38605 152630  87979 212195 1669677 228429 211789  85221  54701
 7 2003-01-01  38262 156970  91767 224650 1745049 229800 214003  86767  55588
 8 2004-01-01  39648 166286  96064 232105 1832792 229129 227364  90878  57741
 9 2005-01-01  40767 171723  99144 251185 1910337 238417 231573  92500  57069
10 2006-01-01  43455 174675 101028 265798 1975457 243172 237280  93801  58308
11 2007-01-01  45735 175332 100287 272417 1999340 250252 247248  96309  57835
12 2008-01-01  46422 174459 100485 262521 1993244 252558 243856  99039  55273
13 2009-01-01  50463 168315  98020 242509 1912115 247270 233562  98415  57350
14 2010-01-01  49671 171861 101309 243101 1936487 248667 232357 101689  56541
15 2011-01-01  51004 173760 103312 247414 1962926 252256 228454 103539  57919
16 2012-01-01  53719 175420 103170 252545 2013611 257622 228212 103733  57013
17 2013-01-01  51361 177049 106112 253743 2064534 265880 224931 103540  56189
18 2014-01-01  49662 176960 107548 258228 2141906 278281 223546 105042  59155
19 2015-01-01  49947 178893 107786 261891 2235433 286728 228517 106742  60458
20 2016-01-01  47460 181211 108676 267472 2300793 292512 230720 109308  60613
# ... with 42 more variables: FLRGSP <int>, GARGSP <int>, HIRGSP <int>,
#   IARGSP <int>, IDRGSP <int>, ILRGSP <int>, INRGSP <int>, KSRGSP <int>,
#   KYRGSP <int>, LARGSP <int>, MARGSP <int>, MDRGSP <int>, MERGSP <int>,
#   MIRGSP <int>, MNRGSP <int>, MORGSP <int>, MSRGSP <int>, MTRGSP <int>,
#   NCRGSP <int>, NDRGSP <int>, NERGSP <int>, NHRGSP <int>, NJRGSP <int>,
#   NMRGSP <int>, NVRGSP <int>, NYRGSP <int>, OHRGSP <int>, OKRGSP <int>,
#   ORRGSP <int>, PARGSP <int>, RIRGSP <int>, SCRGSP <int>, SDRGSP <int>,
#   TNRGSP <int>, TXRGSP <int>, UTRGSP <int>, VARGSP <int>, VTRGSP <int>,
#   WARGSP <int>, WIRGSP <int>, WVRGSP <int>, WYRGSP <int>

In [109]:
%%R
pop

# A tibble: 117 x 52
         DATE AKPOP ALPOP ARPOP AZPOP CAPOP COPOP CTPOP DCPOP DEPOP FLPOP GAPOP
       <date> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl> <dbl>
 1 1900-01-01    NA  1830  1314   124  1490   543   910   278   185   530  2220
 2 1901-01-01    NA  1907  1341   131  1550   581   931   285   187   544  2263
 3 1902-01-01    NA  1935  1360   138  1623   621   952   290   188   565  2305
 4 1903-01-01    NA  1957  1384   144  1702   652   972   295   190   587  2346
 5 1904-01-01    NA  1978  1419   151  1792   659   987   302   192   599  2387
 6 1905-01-01    NA  2012  1447   158  1893   680  1010   308   194   615  2427
 7 1906-01-01    NA  2045  1465   167  1976   707  1033   313   196   628  2466
 8 1907-01-01    NA  2058  1484   176  2054   733  1057   317   197   645  2505
 9 1908-01-01    NA  2070  1513   186  2161   757  1077   321   199   684  2543
10 1909-01-01    NA  2108  1545   196  2282   775  1097   327   201   724  2580
# ... with 107 more rows, and 40 more variables: HIPOP <dbl>, IAPOP <dbl>,
#   IDPOP <dbl>, ILPOP <dbl>, INPOP <dbl>, KSPOP <dbl>, KYPOP <dbl>,
#   LAPOP <dbl>, MAPOP <dbl>, MDPOP <dbl>, MEPOP <dbl>, MIPOP <dbl>,
#   MNPOP <dbl>, MOPOP <dbl>, MSPOP <dbl>, MTPOP <dbl>, NCPOP <dbl>,
#   NDPOP <dbl>, NEPOP <dbl>, NHPOP <dbl>, NJPOP <dbl>, NMPOP <dbl>,
#   NVPOP <dbl>, NYPOP <dbl>, OHPOP <dbl>, OKPOP <dbl>, ORPOP <dbl>,
#   PAPOP <dbl>, RIPOP <dbl>, SCPOP <dbl>, SDPOP <dbl>, TNPOP <dbl>,
#   TXPOP <dbl>, UTPOP <dbl>, VAPOP <dbl>, VTPOP <dbl>, WAPOP <dbl>,
#   WIPOP <dbl>, WVPOP <dbl>, WYPOP <dbl>

In [110]:
%R gdp / pop

Error in Ops.data.frame(gdp, pop) :
  ‘/’ only defined for equally-sized data frames

/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Error in Ops.data.frame(gdp, pop) :
  ‘/’ only defined for equally-sized data frames

  warnings.warn(x, RRuntimeWarning)

I couldn't get this to work. Help!

In [123]:
%%R
library(reshape2)

gdp_ <- melt(gdp, id.vars="DATE")
state <- select(gdp_, variable) %>% sapply(substring, 1, 2)
gdp_ <- mutate(gdp_, abbv=substring(state, 1, 2))
gdp_

pop_ <- melt(pop, id.vars="DATE")
state <- select(pop_, variable) %>% sapply(substring, 1, 2)
pop_ <- mutate(pop_, abbv=substring(state, 1, 2))
pop_


inner_join(
    gdp_, pop_
) %>% mutate(gdp_pc = value.x / value.y) %>% head

Error: Column `abbv` must be a 1d atomic vector or a list

/Users/taugspurger/miniconda3/envs/ia-rug/lib/python3.6/site-packages/rpy2/rinterface/__init__.py:186: RRuntimeWarning: Error: Column `abbv` must be a 1d atomic vector or a list

  warnings.warn(x, RRuntimeWarning)